@keyframes tilt {
  0% { transform: rotate(-5deg); }
  100% { transform: rotate(5deg); }
}

.tilt-animation {
  animation: tilt 1s infinite ease-in-out alternate;
}

#headcolor, #maincolor, #footcolor{
  /* background-color: #edffe7; */
  /* background-color: #ffeee24f; */
  background-color: #dfffe46b;
  /* background-color: rgba(238, 252, 238, 0.527); */
}

#root {
  width : 100vw;
  height : 100vh;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
